/* <- General Styles -> */
html,
body,
#root,
.wrapper {
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-size: 14px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    s Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* <- Layout -> */
.wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 10px 15px;
}

/* <- Header and Nav -> */
.main-header {
  background-color: #fff;
  display: flex;
  min-height: 50px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.header__logo {
  font-size: 1.5rem;
  color: #29a3ef;
  padding: 7px 12px;
  display: block;
}

.main-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav__item {
  color: #67757f;
  border-bottom: 2px solid #fff;
  margin-right: 5px;
  font-weight: bold;
}

.nav__item:hover {
  border-color: #29a3ef;
  color: #29a3ef;
}

.nav__avatar {
  font-size: 2rem;
  margin: 10px;
  color: #67757f;
}

/* Profile Component */
.profile-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-background-place {
  min-height: 100px;
  background: #29a3ef;
}

.profile-header-menu {
  margin-top: 10px;
  color: #67757f;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.header-menu-list {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.header-menu-list-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 10px;
}

.header-menu-list-item-value {
  font-size: 1.1em;
  font-weight: bold;
}

.profile-user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info-name {
  margin: 5px;
}

.user-info-name .user-info-link {
  font-size: 0.9em;
}

.user-info-username {
  margin: 5px;
}

.profile-user-info p {
  color: #67757f;
}

.user-info-link:hover {
  border-bottom: 2px solid;
}

.profile-board-container {
  background-color: #eee;
  height: 100%;
}

.profile-board {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  min-height: 200px;
}

/* Dropdown */
.dropdown-button {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 5%;
  border-radius: 4px;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown__user-info {
  padding: 7px 12px;
  border-bottom: 1px solid lightgray;
}

.dropdown__name {
  font-size: 1.2rem;
  font-weight: bold;
}

.dropdown__username {
  color: gray;
}

.dropdown-menu__item {
  width: 100%;
}

/* .dropdown-content a {
  color: black;
  display: block;
  width: 100%;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
} */

.dropdown-content a:hover {
  background-color: #29a3ef;
  color: #fff;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* Landing */
.landing-container {
  text-align: center;
  margin-top: 50px;
}

/* Auth, Form */
.auth__container {
  max-width: 500px;
  margin: 10px auto;
}

.auth__logo {
  font-size: 24px;
}

.auth__form {
  margin-top: 15px;
  font-size: 16px;
}

.input {
  font-size: 1em;
  outline: none;
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px 5px;
  border: 1px solid #e6ecf0;
  border-radius: 3px;
}

.input--error {
  border-color: red;
}

.input:focus {
  border-color: #cadae4;
}

.button {
  font-size: 1em;
  margin: 10px 15px;
  padding: 10px 15px;
  outline: 0;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.button--primary {
  border-radius: 100px;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 16px;
  text-align: center;
  color: #fff;
  background-color: #1da1f2;
}

.button--primary:active,
.button--primary:focus {
  background-color: #006dbf;
}

.signup-helper {
  font-size: 14px;
  line-height: 20px;
}

.signin-helper {
  font-size: 14px;
  line-height: 20px;
}

.login-signup-link {
  margin: 0 10px;
}

.login-signin-link {
  margin: 0 10px;
}

.invalid-feedback {
  color: red;
  font-size: 0.8rem;
}

.success-feedback {
  color: #db3545;
  text-align: center;
  font-size: 1.2rem;
}

/* <- Footer -> */
.main-footer {
  flex-shrink: 0;
  width: 100%;
  padding: 10px 15px;
  text-align: center;
  background-color: #eee;
  font-size: 12px;
}

.footer-text {
  margin: 0;
}

/* <- Media Queries -> */
@media screen and (min-width: 500px) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
