/* <- General Styles -> */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    s Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* <- Layout -> */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 10px 15px;
}

/* <- Header and Nav -> */
.main-header {
  overflow: hidden;
  background-color: #fff;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(230, 236, 240, 1);
  -moz-box-shadow: 0px 1px 5px 0px rgba(230, 236, 240, 1);
  box-shadow: 0px 1px 5px 0px rgba(230, 236, 240, 1);
}

.main-nav a {
  color: #29a3ef;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  display: block;
}

.header-logo {
  font-size: 25px;
  color: #29a3ef;
  padding: 12px;
  display: block;
}

.main-nav a:hover {
  background-color: #ddd;
  color: #000;
}

.main-nav a:active {
  background-color: dodgerblue;
  color: white;
}

/* Landing */
.landing-container {
  text-align: center;
  margin-top: 50px;
}

/* Auth, Form */
.auth__container {
  max-width: 500px;
  margin: 10px auto;
}

.auth__logo {
  font-size: 24px;
}

.auth__form {
  margin-top: 15px;
  font-size: 16px;
}

.input {
  font-size: 1em;
  outline: none;
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px 5px;
  border: 1px solid #e6ecf0;
  border-radius: 3px;
}

.input--error {
  border-color: red;
}

.input:focus {
  border-color: #cadae4;
}

.button {
  font-size: 1em;
  margin: 10px 15px;
  padding: 10px 15px;
  outline: 0;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.button--primary {
  border-radius: 100px;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 16px;
  text-align: center;
  color: #fff;
  background-color: #1da1f2;
}

.button--primary:active,
.button--primary:focus {
  background-color: #006dbf;
}

.signup-helper {
  font-size: 14px;
  line-height: 20px;
}

.signin-helper {
  font-size: 14px;
  line-height: 20px;
}

.login-signup-link {
  margin: 0 10px;
}

.login-signin-link {
  margin: 0 10px;
}

.invalid-feedback {
  color: red;
  font-size: 0.8rem;
}

.success-feedback {
  color: #db3545;
  text-align: center;
  font-size: 1.2rem;
}

/* <- Footer -> */
.main-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 15px;
  text-align: center;
  background-color: #e6ecf0;
  font-size: 12px;
}

.footer-text {
  margin: 0;
}

/* <- Media Queries -> */
@media screen and (min-width: 500px) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .header-logo,
  .main-header a {
    display: inline-block;
  }
}
